<h1>Volunteer Job Board</h1>
<p>
  Looking for opportunities in tech to volunteer at?<br>
  You're in the right place!
</p>
<%= link_to "View Events", jobs_path %><br>
<%= link_to "Sign up to Apply!", signup_path %>
